{
    "appName" : "My Rate Limit with DB" ,
    "db" : {
        "mysql" : {
            "version" : "mysql 5.7",
            "host" : "localhost",
            "port" : 3306,
            "username" : "dbrate",
            "password" : "dbrate",
            "database" : "dbrate"
        }
    },
    "rateLimiter" : {
        "db" : {
            "tableName" : "rates",
            "idColumnName" : "id",
            "operationColumnName" : "operation",
            "resetTimestampColumnName" : "reset_timestamp"
        }
    }
}